@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: blue;
}

.floatMenu{
    background-color: aliceblue;
    width: fit-content;
    padding: 0.4rem 1rem;
    display: inline-flex;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1000;
    border-radius: 0.5rem;
    transform: translateX(-50%);
    transition: all 0.2s ease;
    border: 1px black solid;
    & .pageChanger{
        text-transform: uppercase;
        margin: 0 1rem;
        font-size: 1rem;
        background-color: inherit;
        border: none;
        font-weight: 600;
        transition: all 0.1s ease;
        &:hover{
            transform: translateY(-0.1rem);
        }
    }
   
}
.iBtn{
    display:none;
}
.tBtn{
    display: block;
}
.pageContainer{
    /* transform: translateX(-200%); */
    width: 500%;
    position: absolute;
    top:0;
    left: -200%;
    display: flex;
    transition: transform 0.5s ease;
}
.page{
    padding: 6rem 5rem;
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    box-sizing: border-box;

}
.colorPickerPage{
    width: 100%;
    height: calc(100vh - 10rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    
}
.rightU{

}
.leftU{
    
}
.bottom{
    grid-column: 1/3;
}