@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.testCube{
    width: 20px;
    height:20px;
    float:left;
}
.cubes{
    padding:0.8rem 1rem;
}
.floatMenu{
    /* background-color: aliceblue; */
    width: fit-content;
    padding: 0.4rem 1rem;
    display: inline-flex;
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 1000;
    border-radius: 0.9rem;
    transform: translateX(-50%);
    transition: all 0.5s ease;
    /* border: 1px black solid; */
    box-shadow: 0px 10px 100px 12px rgb(221, 221, 221);
    & .pageChanger{
        text-transform: uppercase;
        margin: 0 1rem;
        font-size: 1rem;
        background-color: inherit;
        border: none;
        font-weight: 600;
        transition: all 0.1s ease;
        &:hover{
            transform: translateY(-0.1rem);
        }
    }
   
}
.iBtn{
    display:none;
}
.tBtn{
    display: block;
}
.pageContainer{
    /* transform: translateX(-200%); */
    width: 500%;
    position: absolute;
    top:0;
    left: -200%;
    display: flex;
    transition: transform 0.5s ease;
}
.page{
    padding: 6rem 5rem;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}
input[type=number] {
 -moz-appearance: textfield;
}